{% extends 'blogs/base.html' %}

{% block page_header %}
    <p>Browse available blogs.</p>
{% endblock page_header %}

{% block content %}

    {% if logged_in %}
        <a href="{% url 'blogs:new_blog' %}">Add New Blog</a>
        
        <div class="card mb-3">
            <h4 class="card-header">My Blogs</h4>
            <div class="card-body mb">
                <ul class="list-group">
                    {% for blog in my_blogs %}
                        <li class="list-group-item">
                            <a href="{% url 'blogs:blog_post' blog.id %}">{{ blog.text }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item"><p>No blogs available.</p></li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>

        <div class="card mb-3">
            <h4 class="card-header">Other Blogs</h4>
            <div class="card-body">
                <ui class="list-group">
                    {% for blog in other_blogs %}
                        <li class="list-group-item">
                            <a href="{% url 'blogs:blog_post' blog.id %}">{{ blog.text }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item"><p>No blogs available.</p></li>
                    {% endfor %}
                </ui>
            </div>
        </div>

    {% else %}
        <div class="card mb-3">
            <h4 class="card-header">All Blogs</h4>
            <div class="card-body">
                <ui class="list-group">
                    {% for blog in all_blogs %}
                        <li class="list-group-item">
                            <a href="{% url 'blogs:blog_post' blog.id %}">{{ blog.text }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item"><p>No blogs available.</p></li>
                    {% endfor %}
                </ui>
            </div>
        </div>    
    
    {% endif %}

{% endblock content %}