{% extends 'blogs/base.html' %}

{% block page_header %}
    <h1>Blog: {{ blog.text }}</h1>
    <h4>Owner: {{ blog.owner }}</h4>
{% endblock page_header%}

{% block content %}
    <!--Come back to this to update with a button.-->
    {% if is_owner %}
        <p><a href="{% url 'blogs:new_post' blog.id %}">Add New Post</a></p>
    {% endif %}

    {% for post in posts %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ post.date_added|date:'M d, Y H:i' }} 
                {% if is_owner %}
                     - <small><a href="{% url 'blogs:edit_post' blog.id post.id %}">Edit</a></small>
                     - <small><form action="{% url 'blogs:delete_post' blog.id post.id %}" metho="post">
                        {% csrf_token %}
                        <button name="submit">Delete</button>
                    </form></small>
                {% endif %}
            </h4>
            <div class="card-body">
                {{ post.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>No posts available for this blog.</p>
    {% endfor %}

{% endblock content %}