{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <p> Please edit the blog post below.</p>
{% endblock page_header %}

{% block content %}
    <p>Editing post for <a href="{% url 'blogs:blog_post' blog.id %}">{{ blog.text }}</a></p>

    <form action="{% url 'blogs:edit_post' blog.id post.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Save Post" %}
    </form>

{% endblock content %}